.carousel .carousel-control-prev,
.carousel .carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-radius: 50%; /* Bordes redondeados */
    width: 50px; /* Ancho de las flechas */
    height: 50px; /* Altura de las flechas */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 15px;
}

.carousel-control-next {
    right: 15px;
}

.carousel-indicators {
    display: none;
}